#REV: rake routes not working... is routes.rb missing?

<h1> Artists </h1>

<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist_url(artist) %>
    </li>
  <% end %>

</ul>